<!DOCTYPE html>
<html><head>
<title>{{ page.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="A Arte do Cultivo da Quietude" />
<meta name="copyright" content="Lourenco de Azevedo" />
<link rel="stylesheet" href="/css/framework.css" media="all">
<link rel="stylesheet" href="/css/style.css" media="all">
  
<!-- SCRIPTS -->
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "8a750766-719b-414d-9c11-8284d7cd8195", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</head>
<body>
<div class="navbar">
		<div class="contain">
			<div class="twelve col">
				<ul>
					<li><a href="/index.html">三</a></li>
					<li><a href="/inicio.html">Começe aqui</a></li>
					<li><a href="/chikung.html">Chi Kung?</a></li>
					<li><a href="/sobre-mim.html">Sobre mim</a></li>
					<li><a href="/arquivo.html">Blog</a></li>
					<li><a href="/agenda.html">Agenda</a></li>
					<li><a href="http://eepurl.com/g-Ehg">Subscrever</a></li>
					<li><a href="/contacto.html">Contacto</a></li>
				</ul>
			</div>
		</div>
	</div>
<div class="contain">
		<div class="ten col off-one">
		<br>
		<strong><span class="orange">Zhan Zhuang Chi Kung</span></strong><p></p>
		<span class="grey">A Arte do Cultivo da Quietude</span><p></p>

	</div>
</div>
<div class="contain">
		<div class="ten col off-one">
			{{ content }}
			<hr>
			<span class='st_facebook_large' displayText='Facebook'></span>
			<span class='st_twitter_large' displayText='Tweet'></span>
		  	<span class='st_googleplus_large' displayText='Google +'></span>
		  	<span class='st_tumblr_large' displayText='Tumblr'></span>
		  	<span class='st_email_large' displayText='Email'></span>
		</div>
</div>
<!-- END GRID -->
</body>
</html>