<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		 
        	<link rel="stylesheet" href="{{ base.url }}/css/style.css"> 
		
	
	</head>
	<body>
		<div class="container">
     			<div class="ten columns">
				<p>
					<a href="{{ base.url }}/index.html">Início</a> | 
					<a href="{{ base.url }}/inicio.html">Começe aqui</a> | 
					<a href="{{ base.url }}/sobremim.html"</a> | 
					<a href="{{ base.url }}/blog.html">Blog</a> |
					<a href="http://eepurl.com/g-Ehg">Subscrever</a> | 
					<a href="{{ base.url }}/contato.html">Contacto</a></p>
        				<hr />

				<h2><strong><span class="orange">Zhan Zhuang Chi Kung</span></strong> <span class="grey">| A Arte do Cultivo da Quietude</span></h2>
				{{ content }}
			</div>
		</div>
	</body>
<html>
