---
layout: default
---
    <article>
      <time datetime="{{ page.date | xmlschema }}">{{ page.date | date: "%d %b, %Y" }}</time>
      <h2>{{ page.title }}</h2>
      {{ content }}
   </article>
 
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_tumblr_large' displayText='Tumblr'></span>
      <span class='st_email_large' displayText='Email'></span>

    <div id="paginator">
               <h4> {% if page.previous %}
                  <a id="left" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Anterior :</a>
                {% endif %}
                
                {% if page.next %}
                  <a id="right" href="{{ page.next.url }}" title="{{ page.next.title }}">: Próximo &rarr;</a>
                {% endif %}
              <h4>
    </div>

